@import "bootstrap/scss/bootstrap";

body {
  background-color: $dark;
}

.navbar {
  background-color: darken($dark, 10%);
  color: $light;
}

.navbar-brand img {
  width: 5rem;
}

li.dropdown {
  background-color: $light;
}

#main {
  color: $light;
}